In [ ]:
#Capstone Project - TWO
#House Price Prediction

In [1]:
# Importing libraries for Python code.
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

from library.sb_utils import save_file

In [2]:
# Loading data to use in this excercies.
housing_data = pd.read_csv('/data/new_housing_data_cleaned.csv')

In [3]:
#Calling the info method on housing_data to see a summary of the data
housing_data.info

<bound method DataFrame.info of       MSSubClass MSZoning  LotArea LotConfig BldgType  OverallCond  YearBuilt  \
0             60       RL     8450    Inside     1Fam            5       2003
1             20       RL     9600       FR2     1Fam            8       1976
2             60       RL    11250    Inside     1Fam            5       2001
3             70       RL     9550    Corner     1Fam            5       1915
4             60       RL    14260       FR2     1Fam            5       2000
...          ...      ...      ...       ...      ...          ...        ...
2908         160       RM     1936    Inside    Twnhs            7       1970
2909         160       RM     1894    Inside   TwnhsE            5       1970
2910          20       RL    20000    Inside     1Fam            7       1960
2911          85       RL    10441    Inside     1Fam            5       1992
2912          60       RL     9627    Inside     1Fam            5       1993

      YearRemodAdd Exterior1st  BsmtFinSF2  TotalBsmtSF     SalePrice
0             2003     VinylSd         0.0        856.0  208500.00000
1             1976     MetalSd         0.0       1262.0  181500.00000
2             2002     VinylSd         0.0        920.0  223500.00000
3             1970     Wd Sdng         0.0        756.0  140000.00000
4             2000     VinylSd         0.0       1145.0  250000.00000
...            ...         ...         ...          ...           ...
2908          1970     CemntBd         0.0        546.0  180921.19589
2909          1970     CemntBd         0.0        546.0  180921.19589
2910          1996     VinylSd         0.0       1224.0  180921.19589
2911          1992     HdBoard         0.0        912.0  180921.19589
2912          1994     HdBoard         0.0        996.0  180921.19589

[2913 rows x 12 columns]>

In [4]:
#Calling the head method on housing_data to print the first several rows of the data
#Checking the first 5 rows of data for 'housing_data' to get idea about the data.
housing_data.head()

,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [5]:
#Checking rows and columns of the dataset
housing_data.shape

(2913, 12)

In [6]:
#Checking which records still have null values, if any.
housing_data.isnull().sum()

MSSubClass      0
MSZoning        0
LotArea         0
LotConfig       0
BldgType        0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
Exterior1st     0
BsmtFinSF2      0
TotalBsmtSF     0
SalePrice       0
dtype: int64