In [ ]:
#Capstone Project - TWO
# House Price Prediction

In [5]:
#Import pandas, matplotlib.pyplot, and seaborn
#Importing python libraries, pandas, latplotlib, seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
#Load The Housing Data

In [8]:
#Loading the data file for this project from raw_data directory
housing_data = pd.read_excel('../raw_data/HousePricePrediction.xlsx')

In [9]:
#Calling the info method on housing_data to see a summary of the data
housing_data.info

<bound method DataFrame.info of         Id  MSSubClass MSZoning  LotArea LotConfig BldgType  OverallCond  \
0        0          60       RL     8450    Inside     1Fam            5
1        1          20       RL     9600       FR2     1Fam            8
2        2          60       RL    11250    Inside     1Fam            5
3        3          70       RL     9550    Corner     1Fam            5
4        4          60       RL    14260       FR2     1Fam            5
...    ...         ...      ...      ...       ...      ...          ...
2914  2914         160       RM     1936    Inside    Twnhs            7
2915  2915         160       RM     1894    Inside   TwnhsE            5
2916  2916          20       RL    20000    Inside     1Fam            7
2917  2917          85       RL    10441    Inside     1Fam            5
2918  2918          60       RL     9627    Inside     1Fam            5

      YearBuilt  YearRemodAdd Exterior1st  BsmtFinSF2  TotalBsmtSF  SalePrice
0          2003          2003     VinylSd         0.0        856.0   208500.0
1          1976          1976     MetalSd         0.0       1262.0   181500.0
2          2001          2002     VinylSd         0.0        920.0   223500.0
3          1915          1970     Wd Sdng         0.0        756.0   140000.0
4          2000          2000     VinylSd         0.0       1145.0   250000.0
...         ...           ...         ...         ...          ...        ...
2914       1970          1970     CemntBd         0.0        546.0        NaN
2915       1970          1970     CemntBd         0.0        546.0        NaN
2916       1960          1996     VinylSd         0.0       1224.0        NaN
2917       1992          1992     HdBoard         0.0        912.0        NaN
2918       1993          1994     HdBoard         0.0        996.0        NaN

[2919 rows x 13 columns]>

In [ ]:
#'SalePrice' column is the data of the housing sale price for this data set mentioned in dollar amount. Some rows have missing data for this.

In [10]:
#Calling the head method on housing_data to print the first several rows of the data
#Checking the first 5 rows of data for 'housing_data' to get idea about the data.
housing_data.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [ ]:
#'BsmtFinSF2' values are 0.0

In [ ]:
#Explore The Data

In [11]:
#Checking rows and columns of the dataset
housing_data.shape

(2919, 13)

In [13]:
#Number Of Missing Values By Column
#Counting (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#housing_data as well as the percentages (using `.mean()` instead of `.sum()`).
#Ordering them (increasing or decreasing) using sort_values
#Calling `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'

missing = pd.concat([housing_data.isnull().sum(), 100 * housing_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

              count          %
Id                0   0.000000
MSSubClass        0   0.000000
LotArea           0   0.000000
LotConfig         0   0.000000
BldgType          0   0.000000
OverallCond       0   0.000000
YearBuilt         0   0.000000
YearRemodAdd      0   0.000000
Exterior1st       1   0.034258
BsmtFinSF2        1   0.034258
TotalBsmtSF       1   0.034258
MSZoning          4   0.137033
SalePrice      1459  49.982871